*{
    margin: 0px;
padding: 0px;

}
html{
    background: #ffffff;
}
#contenedor{
    width: 1900px;
    height: 100px;
    background: rgb(0, 0, 0);
    margin: auto;
    margin-top: 5px;
}


#logo{
    height: 200px;
    width: 1900px;
    background:rgb(0, 0, 0);
    background-image: url(imagenes/logo.jpg);
    background-size: 150px 150px;
    background-repeat: no-repeat;
    background-position-x: center;
    float: left;
}


nav ul li{
    list-style: none;
}
nav ul li{
    float: left;
}
nav a{
    color: #000000;
    text-decoration: none;
    padding: 150px;
    line-height: 50px;
    font-family: Bernard MT Condensed;
}
main{
    height: 400px;
    background: 150px;

}


footer{
    height: 50px;
}


